/*HABILLAGE GENERAL*/
/*COULEUR*/
$color-primary: #9356DC;
$color-primarypastel: #e4d5f6;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiarypastel: #d6f3ec;

$color-txt: #4d4d4d;
$color-backgrey: #f3f3f3;

$color-icon: #7e7e7e;

